= form_for(post) do |f|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .text-area
    .field
      = f.label :title, icon("fa", "tag")
      = f.text_field :title, :placeholder => "タイトルを入力する"
    .field
      = f.label :body, icon("fa", "align-justify")
      = f.text_area :body, size: "38x10",:placeholder => "投稿内容を入力してください"
    .field
      = f.label :image, icon("fa", "image")
      = f.file_field :image
    .actions
      = f.submit "投稿する"
